{% extends 'newsLetterApp/base.html' %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

    {% for bulletin in bulletins %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="../profile/">{{ bulletin.author }}</a>
              <small class="text-muted">{{ bulletin.date_added|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ bulletin.title }}</a></h2>
            <p class="article-content">{{ bulletin.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}



